*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    padding: 5px;
    margin: 5px 10px; 
    word-spacing: 2px;
    line-height: 2;
}

.card {
    background-color: blanchedalmond;

    width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid darkred;
}

h1 {
    color: darkred;
    font-size: 40px;

    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 70%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}

.credit {
    text-align: center;
    margin: 10px auto;
}

h2 {
    color: darkred;
    text-align: left;
    text-decoration: underline ;

    padding: 10px;
    margin: 5px 10px;
}

li {
    padding: 5px;
    margin: 5px 35px;
}

.container{
    text-align: center;
    margin: 30px auto;
}

.home-button {
    color: whitesmoke;
    background-color: darkred;
    font-size: 20px;
    text-decoration: none;

    padding: 7px 30px;
}